# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\AmberWang\OneDrive\桌面\UCSD\CS MS (grad study)\Winter 22\CSE 224\p3-AmberWow123\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
